body {
  overflow: hidden;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

svg {
  width: 100%;
}


#screen {
  fill: rgb(165, 165, 165);
}

div,
p,span {
  margin: 0;
  padding: 0;
}

button {
  color: #fff;
  background: #00adb5;
  border: #333;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}

.button-close {
  margin: 2px;
}

.button-pay {
  margin: 2px;
  background: #000;
}

/*
  Loading 
*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

 /**
 * ----------------------------------------
 * animation loader
 * ----------------------------------------
 */
 @keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}